/*
    Mobile: 375px;
    Desktop: 1440px
*/
$dark-grey: hsl(217, 19%, 35%);
$dark-blue: rgb(109, 127, 151);
$grey-blue: hsl(212, 23%, 69%);
$grey-blue-light: hsl(210, 46%, 95%);

body {
    font-family: 'Manrope', sans-serif; /* 500 and 700 */
    font-size: 13px;
}
